<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- pre generated test log mostly with entries recognized as crawlers -->
    <!-- please update to relevant path for your server e.g. %SystemDrive%\inetpub\logs\LogFiles\W3SVC1\*.log -->
    <!-- you can also use comma delimited URLs as well as any pattern supported by LogParser -->
    <add key="iis.logs.path" value="test.log"/>
  </appSettings>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDb;Initial Catalog=TrafficAnalyzer;Integrated Security=True;Pooling=False;"/>
  </connectionStrings>
</configuration>